<form method="post" action="{{ path('contact_user_delete', {'id': contact_user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_user.id) }}">
    <button class="btn">Delete</button>
</form>
