{% extends 'base.html.twig' %}

{% block title %}Edit ContactUser{% endblock %}

{% block body %}
    <h1>Edit ContactUser</h1>

    {{ include('contact_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contact_user_index') }}">back to list</a>

    {{ include('contact_user/_delete_form.html.twig') }}
{% endblock %}
