{% extends 'base.html.twig' %}

{% block title %}ContactUser index{% endblock %}

{% block body %}
    <h1>ContactUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdUser</th>
                <th>IdFriend</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_user in contact_users %}
            <tr>
                <td>{{ contact_user.id }}</td>
                <td>{{ contact_user.idUser }}</td>
                <td>{{ contact_user.idFriend }}</td>
                <td>
                    <a href="{{ path('contact_user_show', {'id': contact_user.id}) }}">show</a>
                    <a href="{{ path('contact_user_edit', {'id': contact_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_user_new') }}">Create new</a>
{% endblock %}
