{% extends 'base.html.twig' %}

{% block title %}New ContactUser{% endblock %}

{% block body %}
    <h1>Create new ContactUser</h1>

    {{ include('contact_user/_form.html.twig') }}

    <a href="{{ path('contact_user_index') }}">back to list</a>
{% endblock %}
