{% extends 'base.html.twig' %}

{% block title %}ContactUser{% endblock %}

{% block body %}
    <h1>ContactUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_user.id }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ contact_user.idUser }}</td>
            </tr>
            <tr>
                <th>IdFriend</th>
                <td>{{ contact_user.idFriend }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_user_index') }}">back to list</a>

    <a href="{{ path('contact_user_edit', {'id': contact_user.id}) }}">edit</a>

    {{ include('contact_user/_delete_form.html.twig') }}
{% endblock %}
