{% extends 'base.html.twig' %}

{% block body %}

    Liste KONTAKT: ({{ data|length }}) <br><br>

    {% for info in data %}
        {{ info.email }} <br>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

